---
layout: base
---
<section class="page-layout">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <article class="content mt-5">
          <div class="container">
          <h1 class="title">{{ title }}</h1>
          <h2 class="subtitle is-6">
            Published on: <time datetime="{{ date }}">{{ page.date | postDate }}</time>
          </h2>
          <h2 class="subtitle is-6">
            Author: {{ author }}
          </h2>
          <br/>
          <br/>
          </div>
          <div class="container">
          {{ content | safe }}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>