---
layout: base
title: Home
permalink: '/'
heading: Minimal Starter Kit for Bootstrap 5 using Eleventy
---

<div class="py-20 py-lg-32 bg-surface-secondary">
  <div class="container max-w-screen-xl">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h1 class="ls-tight font-bolder mb-5">
          Federal App Innovation Community
        </h1>
        <!-- Text -->
        <p class="lead mb-10">
          Content catered to supporting innovation in Azure
        </p>
        <!-- Buttons -->
        {# <div class="mx-n2">
          <a href="#" class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8">
            Get Started
          </a>
        </div> #}
      </div>
    </div>
  </div>
</div>