OPENAI_API_BASE= 
OPENAI_API_VERSION= 
OPENAI_API_KEY= 
azure_mysql_password= 
azure_mysql_host= 
azure_mysql_user= 
azure_mysql_schema= 
azure_cosmosdb_key= 
azure_cosmosdb_endpoint= 
OPENAI_GPT_MODEL=
OPENAI_ADA_MODEL= 
AZURE_AI_SEARCH_URL= 
AZURE_AI_SEARCH_KEY= 
AZURE_AI_SEARCH_INDEX= 
APIM_API_KEY=
APIM_COMPLETIONS_URL=
APIM_EMBEDDINGS_URL=
ngrok_authtoken=